*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Fira Sans", serif;
   font-style: normal;
   background-color: rgb(244, 241, 241);
   
}
/* Shered style start here */
.section-title{
  font-weight: bold;
  font-size: 34px;
  color: #0E0E0E;
  margin-top: 80px;
  margin-bottom: 24px;
}
.section-description{
  font-size: 14px;
  line-height: 24px;
  color: #0E0E0E;
  opacity: 70%;
  margin-bottom: 32px;
}
.read-more-btn{
  padding: 12px 24px;
  background-color: #006A50;
  color: white;
  border-radius: 6px;
  border: none;
}
/* nav style start here */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
}
.nav-heading{
  color: #0E0E0E;
  font-weight: bold; 
  font-size: 32px;
}
.nav-btn{
  font-family: "Fira Sans", serif;
   border-radius: 8px;
   color: #006A50;
   padding: 15px 30px;
   font-weight: 600;
   font-size: 18px;
}
/* hero section style start here */
.hero{
  background-color: #C6E4D6;
  width: 980px;

  margin: 0 auto;
  border-radius: 10px;
  /* height: 40vh; */
  /* padding: 80px; */
 
  /* gap: 20px; */
 
}
.hero-content{
  display: flex;
  align-items: center;
  padding: 60px 50px;
}
.hero-left{
  width: 450px;
  text-align: left;
  /* margin-right: 90px; */
}
.hero-left h6 {
  color: #000000;
  opacity: 30%;
  font-weight: 400;
  font-size: 18px;
}
.hero-left h1 {
  font-weight: bolder;
  font-size: 40px;
  margin: 10px 0 20px 0;
}
.hero-btn{
  background-color: #006A50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 6px;
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-size: 15px;
}
.hero-right{
  width: 450px;
  /* margin-left: 40px; */
  text-align: right;
}
/* main style here */
main {
  width: 980px;
  margin: auto;
}
/* vision section style start here */



.vision-card{
  display: flex;
  justify-content: space-around;
  
  
}
.card-style{

}

.card1 img, h3, p, button {
  margin: 20px;
}
.card2 img, h3, p, button {
  margin: 27px;
}
.card3 img, h3, p, button {
  margin: 20px;
}
.card1{
  background-color: rgba(84, 144, 245, 0.2);
  width: 30%;
  
}
.card1 button{
  background-color: #5490F5;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-size: 18px;
}
.card2{
  background-color: #C6E4D6;
  width: 30%;
  
}
.card2 button{
  margin-top: 20px;
  background-color: #09A15C;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-size: 18px;
  
}
.card3{
  background-color: #F7EBCF;
  width: 30%;
  
}
.card3 button{
  
  background-color: #FFC239;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-size: 15px;
}




/* news section start here */
.news-block{
  background-color: #FFFFFF;
  box-shadow: 1px 1px 1px white;
}
.news-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 36px;
  
}
.news-img img{
  width: 308px;
  border-radius: 18px;
  margin-right: 30px;
}
.news-descrption h3{
  font-weight: bold;
  font-size: 22px;
  color: #0E0E0E;
  opacity: 80%;
}
.news-descrption img{
  width: 108px;
}
.date-and-time{
  color: #0E0E0E;
  opacity: 70%;
  margin: 8px 0;
}
.news-descrption p {
  color:#0E0E0E;
  opacity: 70%;
  font-size: 13px;

}
.btn-position{
  margin-top: 20px;
}
/* news content 2 start here */
.news-content-2{
  display: flex;
  flex-direction: row-reverse;
  padding: 36px 36px;
  margin-top: 15px;
}
.img-gap{
  margin-left: 30px;
}
/* Donate section style start here */
.donate{
  margin-top: 50px;
  text-align: center;
}
.donate h2{
  font-family: "Fira Sans", serif;
  /* font-family: bold; */
  font-size: 34px;
  color: #0E0E0E;
  margin-top: 0px;

}
.donate p {
  font-size: 14px;
  color: #0E0E0E;
  opacity: 70%;
  margin: 20px 0;
}

.donate-amount button{
 padding: 36px 40px;
 border: none;
 background-color: #fff;
 margin: 20px 10px;
 border-radius: 16px;
 font-weight: bold;
 font-size: 30px;
 color: #0E0E0E;
 opacity: 80%;
}
.donate-amount  .active-bg{
  background-color: #C6E4D6;
}
.local-amount{
  width: 80%;
  padding: 16px 30px;
  text-align: center;
  border: none;
  color: rgba(14, 14, 14, 0.2);
  font-family: "Fira Sans", serif;
}
.donate-btn{
  margin: 20px 0 0 20px;
}